@import "../../../colors.scss";

.mat-header-cell {
  text-align: center;
}

.technique-mappings-table {
  width: 96%;
  margin: 8px auto auto auto;
}

.technique-mappings-table caption{
  text-align: left;
  padding: 1em;
}

.technique-mappings-table, .technique-mappings-table th, .technique-mappings-table td {
  @include adaptive-color("color", color(dark-1), color(light));
  @include adaptive-color("background-color", darken(color(panel-light), 8%), lighten(color(dark-3), 8%));
}

.technique-mappings-table th, .technique-mappings-table td {
  padding-left: .5em !important; 
  padding-right: .5em !important;   
}

.technique-mappings-component-expanded-row td {
  background-color: color(cell-highlight-color)  !important;
}

tr.technique-mappings-table-row {
  height: 2em !important;
}

.technique-mappings-table-header {
  height: 4em !important;
  @include adaptive-color("background-color", darken(color(panel-light), 8%), lighten(color(dark-3), 8%));
}

.technique-mappings-component-element-row:hover td {
  background-color: color(cell-highlight-color) !important;
}

.mat-column-framework {
  word-wrap: break-all !important;
  white-space: unset !important;
  width: 100px !important;
  overflow-wrap: break-all;
  word-wrap: break-all;

  word-break: break-all;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.technique-mappings-component {
  width: 450px;
  display: flex;
  flex-direction: column;
}

tr.technique-mappings-component-detail-row {
  height: 0 !important;
}

.technique-mappings-component-detail-row td {
  background-color: darken(color(cell-highlight-color), 50%) !important;
}

.technique-mappings-component-element-row td {
  border-bottom-width: 0;
  cursor: context-menu;
}

.technique-mappings-component-element-detail {
  padding-top: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.technique-mappings-component-element-header {
  padding-top: 2px;
  font-weight: bold;
}

.technique-mappings-component-element-content a {
  padding-right: 5px;
}

.technique-mappings-component-element-description-attribution {
  opacity: 0.5;
}

.technique-mappings-component button {
  margin: 10px 10px 0px 0px;
}

.technique-mappings-component-list-item {
  height: 2em !important;
}

.technique-mappings-component-container {
  height: 100%;
  overflow: auto;
}

.technique-mappings-component-threat-textarea {
  width: 98%;
  height: 4em;
}
