@import "../../colors.scss";

.mat-header-cell {
  text-align: center;
}

.sidebar-content {
  margin: 1em 0;
}

.mitigation-table {
  width: 96%;
  margin: 8px auto auto auto;
}

.mitigation-table, .mitigation-table th, .mitigation-table td {
  @include adaptive-color("color", color(dark-1), color(light));
  @include adaptive-color("background-color", darken(color(panel-light), 8%), lighten(color(dark-3), 8%));
}

.mitigation-table caption{
  text-align: left;
  padding: 1em;
}

.mitigation-component-container {
  margin: 25px auto auto auto;
  width: 100%;
}

.mitigation-table-row {
  cursor: context-menu;
  height: 2em !important;
}

.mitigation-table-row td, .mitigation-table-header th {
  padding-left: .5em !important; 
  padding-right: .5em !important; 
}

.mitigation-table-header {
  height: 4em !important;
}

.mitigation-table tr:hover td,
.mitigation-table-row.highlighted td {
  background-color: color(cell-highlight-color);
}

.mat-column-framework {
  word-wrap: break-all !important;
  white-space: unset !important;
  width: 100px !important;
  overflow-wrap: break-all;
  word-wrap: break-all;

  word-break: break-all;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mitigations-component {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin:20px;
}


.mitigations-component-element-row td {
  border-bottom-width: 0;
}

.mitigations-component-element-detail {
  padding-top: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mitigations-component-element-header {
  padding-top: 2px;
  font-weight: bold;
}

.mitigations-component-element-content a {
  padding-right: 5px;
}

.mitigations-component-element-description-attribution {
  opacity: 0.5;
}

.mitigations-component button {
  margin: 10px 10px 0px 0px;
}

.mitigations-component-list-item {
  height: 2em !important;
}

.mitigations-component-container {
  height: 200px;
  overflow: auto;
}

.mitigation-component-threat-textarea {
  width: 98%;
  height: 4em;
}
